.section{
 background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/56cb8c41-e898-44ce-b6b7-fe9b9a05f529/bvlatuR/std/1200x628/MS-Social");
 background-size:cover;
 background-position:center;
 height:100vh;
 width:100vw;
}